.promo {
  background-image: url('../images/promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;


  padding: 150px 0 160px;
  text-align: center;
  /* .promo__inner */

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  /* .promo__subtitle */

  &__subtitle {
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
  }

  &__clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;

  }



  /* .promo__clock-item */

  &__clock-item {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);



    span {
      font-size: 48px;
      @extend %roboto-700;
      color: $title;
      margin: 10px 0 7px;
    }
  }

  /* .promo__link */

  &__link {
    font-size: 16px;
    border: 1px solid $accent;
    display: inline-block;
    padding: 14px 27px;
    margin-top: 55px;
    text-transform: uppercase;
  }
}


.partners {
  padding-top: 75px;

  /* .partners__list */

  &__list {
    height: 170px;
    display: flex;

    justify-content: space-between;
    align-items: center;

  }


}




