// top slider


.top-slider {
  background-image: url(../images/decor/top-slider-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding-top: 65px;
  padding-bottom: 44px;

  &__container {
    max-width: 1560px;

  }


  /* .top-slider__inner */

  &__inner {}

  /* .top-slider__item */

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  /* .top-slider__content */

  &__content {
    padding-left: 175px;
    padding-top: 125px;
  }

  /* .top-slider__title */

  &__title {
    max-width: 670px;
    font-size: 56px;
    line-height: 68px;
    color: $title;
    @extend %roboto-700;
    margin-bottom: 35px;
  }

  /* .top-slider__text */

  &__text {
    margin-bottom: 55px;
    max-width: 470px
  }

  /* .top-slider__link */

  &__link {
    @extend %btn;
    padding: 14px 36px;
  }

  /* .top-slider__img */

  &__img {}

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
      padding: 0 5px;
      line-height: 0;

      button {
        cursor: pointer;
        padding: 0;
        font-size: 0;
        background: transparent;
        width: 26px;
        height: 26px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.slick-active {
        button {
          border-color: $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}
